{% extends 'base.html' %}
{% block title %}Sponsered Farm Details{% endblock %}
{% block body %}
    <div class="container">
        <div class="tickets-info my-4">
            <div class="card">
                <div class="card-body" >
                    <h5 class="card-title"><b>{{farm.name}}</b></h5>
                    <ul class="list-unstyled">
                        <li>Harvest Type: {{farm.harvest_type}}</li>
                        <li>Crop Type: {{farm.crop_type}}</li>
                        <li>Units: {{farm.units}}</li>
                        <li>ROS: {{farm.ROS}}</li>
                        <li>COST PER UNIT: {{farm.cost_per_unit}}</li>
                        <li>TOTAL AMOUNT: GHC {{farm.total_amount}}</li>
                    </ul>
                    
                    <h5 class="pt-3"><b>PROGRESS</b></h5>
                    <hr>
                    {% if farm.progress %}
                        
                            <ul class="list-unstyled">
                                {% for prog in farm.progress %}
                                <li>
                                    <div class="pb-5">
                                        <h6><b>{{prog.name}}</b></h6>
                                        <hr>
                                        <p>Uploaded on: {{prog.progress_updated_on}}</p>
                                        <hr>
                                        <div class="row">
                                            {% for image in prog.images %}
                                            <div class="col-lg-6">
                                                <img src="{{image}}" alt="progres-Image">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                </li>
                                {% endfor %}
                            </ul>
                        
                    {% else %}
                    <h6>All your farm progress and stages will show here.</h6>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}