
{% extends 'base.html' %}
{% block title %}Farms sign in{% endblock %}
{% block body %}
    <!--------Signup Page----------->
    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <form action="">
                        <div class="shadow">
                            <label for="name" class="labels pt-3">Email Address:</label> <br>
                            <div class="coupon"><button class="coupon-btn" type="button"><i class="fa fa-user" aria-hidden="true"></i></button>
                                <input type="email" name="Email" class="email form-control" placeholder="Email Address">
                            </div>
                            <label for="name" class="labels pt-3">Password:</label> <br>
                            <div class="coupon mt-0"><button class="coupon-btn" type="button"><i class="fa fa-lock" aria-hidden="true"></i></button>
                                <input type="password" name="Password" class="password form-control" placeholder="Password">
                            </div>
                            <div class="other"> <span class="border-bottom w-100"></span> <span class="text-top">or</span> <span class="border-bottom w-100"></span> </div>
                            <div class="social-icons">
                                <button class="btn btn-danger mt-3 mx-2" type="button"><i class="fab fa-google" aria-hidden="true"></i> Google</button>
                                <button class="btn btn-primary mt-3 mx-2" type="button"><i class="fab fa-facebook-f" aria-hidden="true"></i> Facebook</button>
                                <button class="btn btn-info mt-3 mx-2" type="button"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</button>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="signup-btn" type="submit">Sign In</button>
                            </div>
                            <p class="text-center pt-3"><a href="signup.html">Sign Up for a New Account</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="overlay">
                        <div class="bg-image"></div>
                        <div class="text-overlay text-light">
                            <h3>Join Us</h3>
                            <h1>lets GROW together</h1>
                            <p>We are your outsource African agricultural technology company that focuses on cultivating large scale farms on behalf of organizations and individuals.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!----X---Signup Page------X---->
{% endblock %}





























    <!------Sponsor------>
    <div class="join">
        <div class="container">
            <h2 class="text-uppercase text-center text-light pt-4">Partner <strong>Farmwealth</strong> today</h2>
            <p class="text-center text-light">Our business model ensures we work with experienced farmers to promote scalability and profitability.</p>
            <div class="row-buttons d-flex justify-content-center flex-wrap">
                <button class="join-btn text-uppercase mx-3 my-3">as a sponsor</button>
                <button class="join-btn text-uppercase mx-3 my-3">as an offtaker</button>
                <button class="join-btn text-uppercase mx-3 my-3">as a farmer</button>
            </div>
        </div>
    </div>
    <!---X--Sponsor--X--->
    <!------News letter------>
    <div class="newsletter">
        <div class="container">
            <h3 class="text-center">Subscribe to our Newsletter</h3>
            <form action="" method="POST">
                <div class="form-flex">
                    <input type="text" name="Subscriber Name" class="name border-right border-bottom" placeholder="Firstname      Lastname" required>
                    <input type="email" name="Email Address" class="email" placeholder="Enter your email address" required>
                    <button type="submit" class="subscribe">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <!---X--News letter--X--->


    <!-----footer-------->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Contact:</h3>
                    <ul>
                        <li>
                            <a href="tel:055 6966093 "><i class="fa fa-phone" aria-hidden="true"></i> : 055 6966093 </a>
                        </li>
                        <li>
                            <a href="tel:059 656 0323 "><i class="fa fa-phone" aria-hidden="true"></i> : 059 656 0323</a>
                        </li>
                    </ul>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f    "></i></a>
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <button class="enquire text-uppercase"><i class="fa fa-envelope" aria-hidden="true"></i> enquiry form </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Site links:</h3>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">How it Works</a>
                        </li>
                        <li>
                            <a href="#">Farms</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Signup</a>
                        </li>
                        <li>
                            <a href="#">Signin</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Other Pages:</h3>
                    <ul>
                        <li>
                            <a href="#">Traction</a>
                        </li>
                        <li>
                            <a href="#">Our Vision</a>
                        </li>
                        <li>
                            <a href="#">Our Team</a>
                        </li>
                        <li>
                            <a href="#">Our Board</a>
                        </li>
                        <li>
                            <a href="#">Our Partners</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Investors</a>
                        </li>
                        <li>
                            <a href="#">Referral</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Legal:</h3>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="#">Refund Policy</a>
                        </li>
                        <li>
                            <a href="#">Risk Policy</a>
                        </li>
                        <li>
                            <a href="#">SEC Approval</a>
                        </li>
                        <li>
                            <a href="#">GDPR Policy</a>
                        </li>
                        <li>
                            <a href="#">Anti Money Laundering Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!---X-footer---X---->








    <!-------------JQuery------------>
    <script src="assets/vendor/jquery/jquery.js"></script>
    <!----X--------JQuery------X----->
    <!----------Bootstrap JS--------->
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <!----X-----Bootstrap JS---X----->
    <!----------Font Awesome JS---------->
    <script src="assets/vendor/font-awesome/js/all.js"></script>
    <!----X-----Font Awesome JS----X----->
    <!-------------Custom JS------------->
    <script src="js/main.js"></script>
    <!----X--------Custom JS-------X----->
</body>

</html>